.order-card {
    width: 315px;
    height: 210px;
    background: #f4f7fc;
    border-radius: 20px
}
@media screen and (max-width: 576px) {
    .order-card{
        width: 320px;
        margin: auto;
    }
}

.order-title {
    font-weight: bold;
    font-size: 20px;
}